<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>택시 모여</h1>
    <br>
    <br>
    <h2>{{kmuboard.title}}</h2>
    <hr>
    <p>{{kmuboard.pub_date}}</p>
    <hr>
    <p>{{kmuboard.body}}</p>
    <hr>
    <a href="{%url 'kmu_station' %}"> 목록가기 </a>
    <a href="{%url 'kmu_edit' kmuboard.id %}"> 수정하기 </a>
    <a href="{%url 'kmu_delete' kmuboard.id %}"> 삭제하기 </a>
</body>
</html>