{% extends 'accountbase.html' %}
{% block head %}

{% endblock %}
{% block content %}
 
<div class="card mb-3">
    <img src="https://kids.niehs.nih.gov/games/assets/movies/img794855.jpg" class="card-img-top" alt="..." height = "300px">
    <div class="card-body">
      <h1 class="card-title" style="font-family: TTTogether;">
      KMU TAXI</h1>
      <p class="card-text" weight=100 style="font-family: Cafe24Oneprettynight ;">국민대 학생을 위한 택시 서비스 입니다.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

{% endblock %}