<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>택시잡기 수정</title>
</head>
<body>
    <h1>새로운 택시 잡기:수정</h1>{{hong}}
    <form method="POST" action= "{% url 'hong_update' hong.id  %}">
   
        {%csrf_token%}
        정확한 위치와 시간: <input type="text" value="{{hong.title}}" name="title">
        <br>
        내용: <textarea name="body" id="" cols="30" rows="10">{{hong.body}}</textarea>
        <br>
        <button type="submit">다시모집하기</button>
  

    </form>
    
</body>
</html>