{% extends 'projectbase.html' %}

{% block head %}
<title>택시잡기:홍대</title>
{% endblock %}



{% block content %}
<br>
<h5>홍대에서 택시 같이 타기</h5>
<hr>
<div style="font-size: xx-large;">{{hong.title}}</div>
<div style="text-align: right;">작성시간: {{hong.pub_date}}</div>
<br>
<p>{{hong.body}}</p>

<div style="text-align: right;">
    <a href="{%url 'hong_edit' hong.id%}">수정하기</a>

</div>

<div class="rows" style="text-align: right;">
    <a href="{%url 'hong_delete' hong.id%}">삭제하기</a>
</div>

<div class="rows" style="text-align:center;">
    <a href="{%url 'hong_station'%}">목록으로</a>
</div>






<form method='POST' action="{%url 'hong_comment_create' hong.id%}"> 
    {%csrf_token %}
    {{comment_form.as_p}}

    <button type="submit">save</button>
</form>
{%for comment in comments%}

<hr>

    {{comment.body}}
    작성자: {{comment.parents.username}}
    <br>
    {{comment.created_at}}
    <br>
    {{comment.updated_at}}
    <br>
    <a href="{% url 'hong_comment_delete' comment.id %}">댓글삭제</a>
{%endfor%}
{%endblock%}
