{% extends 'projectbase.html' %}

{% block head %}
<title>택시잡기:홍대</title>
<style>

    .container{
        width: 100%;
    }

    #commentbody{
        width: 100%;

    }

    .commentbody{
        width: 100%;
        border: none;
    }
</style>
{% endblock%}



{% block content %}
<br>
<h5>홍대에서 택시 같이 타기</h5>
<hr>
<div style="font-size: xx-large; margin-top:10px;">{{hong.title}}</div>
<div style="text-align: right;">작성시간: {{hong.pub_date}}</div>
<br>
<p>{{hong.body}}</p>

<div style="text-align: right; margin-top:10px">
    <a href="{%url 'hong_edit' hong.id%}">수정하기</a>

</div>

<div class="rows" style="text-align: right; margin-top:10px">
    <a href="{%url 'hong_delete' hong.id%}">삭제하기</a>
</div>

<div class="rows" style="text-align:center; margin-top:10px">
    <a href="{%url 'hong_station'%}">목록으로</a>
</div>
    <br>





<form method='POST' action="{%url 'hong_comment_create' hong.id%}"> 
    {%csrf_token %}
    <div class="container" style="width: 100%;">
        <textarea required placeholder="댓글달기" name="body" id="commentbody" rows="3" ></textarea>
    </div>
    
    <div style="text-align: center;">
    <button type="submit">댓글 입력</button>
    </div>
</form>
{%for comment in comments%}

<hr>

    {{comment.body}}
    작성자: {{comment.parents.username}}
    <br>
    {{comment.created_at}}
    <br>
    {{comment.updated_at}}
    <br>
    <a href="{% url 'hong_comment_delete' comment.id %}">댓글삭제</a>
{%endfor%}
{%endblock%}
