{% extends 'projectbase.html' %}

{% block head %}
<title>택시잡기:홍대</title>
<style>
    #mytitleclass
    {
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(125, 124, 124);
    
    }

    #mybodyclass{
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(57, 57, 57);
    padding: 10px;
    width:100%;
    }
.container{
    width: 65%;
}
    
</style>

{% endblock %}



{% block content %}
    <br>
    <h1 style="text-align:center ;">새로운 택시 잡기:수정하기</h1>
    <br>
    <form method="POST" action="{% url 'hong_update' hong.id  %}">
        {% csrf_token %}
        <div class="container">
            <div class="rows">
                <div class="input-group">
                    <input id="mytitleclass" type="text" value="{{hong.title}}" name="title" required type="text" class="form-control" placeholder="위치&시간"  aria-label="Recipient's username" aria-describedby="button-addon2">
                  </div>
            </div>
            
            <div class="rows" style="margin-top: 40px;">
            <textarea id="mybodyclass" name="body"  cols="30" required   rows="8" >{{hong.body}}</textarea>
            </div>

            <div class="rows" style="margin-top: 20px;">
                <input  class="btn btn-secondary btn-lg btn-block"  type="submit" value="다시모집하기">
            </div>
        </div>
        
        
    </form>
{% endblock %}